{
  "extends": "airbnb-base",
  "plugins": ["unused-imports"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "mocha": true
  },
  "rules": {
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-underscore-dangle": [
      0
    ],
    "no-unused-vars": [
      "error"
    ],
    "no-var": [
      "off"
    ],
    "one-var": [
      "off"
    ],
    "linebreak-style": 0,
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_" }
        ]
  }
}